[general]
database=petfeedd.db
name=Pet Feeder

[discovery]
enabled=1

[logging]
enabled=1
; Valid values are stdout, file, or syslog.
method=stdout
; Required with the file method
file=
; Required with the syslog method.
address=

[web]
enabled=1
bind_address=0.0.0.0
bind_port=8080

[gpio]
servo_pin=17
servo_feed_time=0.26

[emailnotifications]
enabled=0
from=petfeedd
from_address=petfeedd@example.com
subject=Feed Event
to=you@example.com
server=example.com
port=25
username=you@example.com
password=password

[pushbulletnotifications]
enabled=0
subject=Feed Event
api_key=api.key

[twitternotifications]
enabled=0
consumer_key=
consumer_secret=
access_key=
access_secret=
