[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

peewee = "==2.10.2"
flask = "==0.12.2"
gpiozero = "==1.5.1"
emails = "==0.5.15"
"pushbullet.py" = "==0.11.0"
python-twitter = "==3.4.2"
"RPi.GPIO" = "==0.7.0"


[dev-packages]

pigpio = "==1.42"
