[Unit]
Description=petfeedd
After=network.target

[Service]
User=root
Restart=always
Type=simple
ExecStart=/usr/local/bin/node /opt/petfeedd/output/index.js -d /opt/petfeedd.db

[Install]
WantedBy=multi-user.target
