[Unit]
Description=petfeedd
After=network.target

[Service]
User=root
Restart=always
Type=simple
ExecStart=/usr/local/bin/node /opt/petfeedd/build/index.js

[Install]
WantedBy=multi-user.target
