<!doctype html>
<html>
<head>
    <title>petfeedd</title>
    <link rel="stylesheet" href="(( url_for('static',filename='styles/site.css') ))" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="app">
        <routing></routing>
        <div class="container">
            <router-view></router-view>
        </div>
    </div>

    <script type="x-template" id="home">
        <div class="home-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <button class="btn btn-lg" v-on:click='startOrPause($event)' v-el:my-link>Pause</button>
                        <button class="btn btn-lg btn-success" v-on:click='feedNow()'>Feed Now</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h1>Feed Log</h1>
                </div>
            </div>

            <div class="row event" v-for="event in events">
                <div class="col-md-2">
                    {{ event.date_created }}
                </div>
                <div class="col-md-1">
                    {{ event.size }} feeds
                </div>
                <div class="col-md-9">
                    {{ event.name }}
                </div>
            </div>
        </div>
    </script>

    <script type="x-template" id="routing">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">petfeedd</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" v-for="route in routes">
                       <li>
                            <router-link :to="route" class="nav-link" active-class="active">
                                {{ route.title }}
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </script>

    <script type="x-template" id="feeds">
        <div class="feed-container">
            <h1>Schedule</h1>

            <feed v-for="feed in feeds" :feed='feed'></feed>

            <div class="row button-container">
                <div class="col-md-12">
                    <button class="btn btn-success" v-on:click='addFeed()'>Add</button>
                </div>
            </div>
        </div>
    </script>

    <script type="x-template" id="feed">
        <div class="feed">
            <div class="row">
                <div class="form-group col-md-9">
                    <label for="feed.name">Name</label>
                    <input class="form-control" type="input" name="feed.name" value="1" step="1" v-model="feed.name">
                </div>

                <div class="form-group col-md-2">
                    <label for="feed.time">Time</label>
                    <input class="form-control" type="time" name="feed.time" value="00:00" step="60" v-model="feed.time">
                </div>

                <div class="form-group col-md-1">
                    <label for="feed.size">Size</label>
                    <input class="form-control" type="number" name="feed.size" value="1" step="1" v-model="feed.size">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-danger" v-on:click='deleteFeed()'>Delete</button>
                </div>
            </div>
        </div>
    </script>
</body>

<script src="(( url_for('static',filename='scripts/jquery.min.js') ))"></script>
<script src="(( url_for('static',filename='scripts/bootstrap.min.js') ))"></script>
<script src="(( url_for('static',filename='scripts/vue.min.js') ))"></script>
<script src="(( url_for('static',filename='scripts/vue-router.min.js') ))"></script>
<script src="(( url_for('static',filename='scripts/vue-resource.min.js') ))"></script>
<script src="(( url_for('static',filename='scripts/app.js') ))"></script>
</html>
